In [167]:
import mysql.connector
import pandas as pd

In [168]:

try:
    cnx = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='',
        database='py_connection'
    )
    print("Connection established successfully.")

    try:
        cursor = cnx.cursor()
        print("Cursor created successfully.")
        
    except mysql.connector.Error as err:
        print("Error creating cursor:", err)


except mysql.connector.Error as err:
    print("Error during connection:", err)

Connection established successfully.
Cursor created successfully.

In [169]:
# cursor.execute('SELECT * FROM `user`')

In [170]:
# rows = cursor.fetchall()
# print(type(rows))
# for row in rows:
#    print(row[1])

# cursor.close()
# cnx.close()

In [189]:
excel_sheet = pd.read_excel('new_data.xlsx')

column_names = excel_sheet.columns.tolist()
original_data_types = excel_sheet.dtypes.tolist()
# column_data_types = ['varchar' if dtype == 'object' else dtype.name for dtype in original_data_types]
column_data_types = ['VARCHAR(255)' if dtype == 'object' else 'INT' if dtype == 'int64' else 'datetime' if dtype=='datetime64[ns]' else 'float' if dtype=='float64' else dtype.name for dtype in original_data_types]

table_name = 'employee'
column_definitions = ', '.join([f'{col} {data_type}' for col, data_type in zip(column_names, column_data_types)])
print(column_definitions)
create_table_query = f"CREATE TABLE {table_name} ({column_definitions})"
print(create_table_query)
# cursor.execute(create_table_query)

Employee_id VARCHAR(255), Full_Name VARCHAR(255), Job_Title VARCHAR(255), Department VARCHAR(255), Business_Unit VARCHAR(255), Gender VARCHAR(255), Ethnicity VARCHAR(255), Age INT, Hire_Date datetime, Annual_Salary INT, Bonus float, Country VARCHAR(255), City VARCHAR(255), Exit_Date datetime
CREATE TABLE employee (Employee_id VARCHAR(255), Full_Name VARCHAR(255), Job_Title VARCHAR(255), Department VARCHAR(255), Business_Unit VARCHAR(255), Gender VARCHAR(255), Ethnicity VARCHAR(255), Age INT, Hire_Date datetime, Annual_Salary INT, Bonus float, Country VARCHAR(255), City VARCHAR(255), Exit_Date datetime)

In [187]:
column_data_types = [col if dtype == 'object' else col if dtype == 'int64' else col if dtype=='datetime64[ns]' else col if dtype=='float64' else dtype.name for col, dtype in zip(column_names, original_data_types)]

for row in excel_sheet.itertuples(index=False):
   insert_query = f"""
    INSERT INTO employee ({', '.join(column_data_types)})
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    values = row
    cursor.execute(insert_query, values)

cnx.commit()

In [195]:
#this is a test 
column_data_types = [col if dtype == 'object' else col if dtype == 'int64' else col if dtype=='datetime64[ns]' else col if dtype=='float64' else dtype.name for col, dtype in zip(column_names, original_data_types)]
insert_query = f"""
    INSERT INTO employee ({', '.join(column_data_types)})
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """

print(insert_query)
#this is a test

    INSERT INTO employee (Employee_id, Full_Name, Job_Title, Department, Business_Unit, Gender, Ethnicity, Age, Hire_Date, Annual_Salary, Bonus, Country, City, Exit_Date)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)